.customer-review
	margin 100px 0 30px
	position relative

.customer-review:before
	background url(../img/quotation-mark.png) no-repeat top center;
	content ""
	position absolute;
	top -37px;
	width 27px;
	height 18px;
	-webkit-transform translateX(-50%);
	transform translateX(-50%)
	opacity 0.4

.customer-review__avatar
	width: 75px;
	height: 75px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	margin-bottom: 20px;
	margin-top: 3px;

.customer-review__text
	font-weight: 400;
	font-size: 17px;
	font-size: 1.1rem;
	line-height: 25px;
	line-height: 1.67rem;
