.customer-review
	margin 100px 0 30px
	position relative

	a
		text-decoration none

	a:hover
		color #2BACC5;

.customer-review:before
	background url(../img/quotation-mark.png) no-repeat top center;
	content ""
	position absolute;
	top -37px;
	width 27px;
	height 18px;
	-webkit-transform translateX(-50%);
	transform translateX(-50%)
	opacity 0.4

.customer-review__avatar
	vertical-align: middle;
	width: 30px;
	width: 2rem;
	height: 30px;
	height: 2rem;
	border-radius: 30px;
	border-radius: 10rem;

.customer-review__text
	text-align left
	font-weight: 400;
	font-size: 17px;
	font-size: 1.1rem;
	line-height: 25px;
	line-height: 1.67rem;
