dzProgressHeight = 10px

.dz
	display block
/*
	.dz-progress
		//height dzProgressHeight

	.dz-upload
		height dzProgressHeight
		background-color #C4E5C0*/
	.dz-error-message
		height 0

	.dz-preview
		width 96px
		width 6.4rem