.header
	background-color COLOR_BG_HEADER
	height 90px
	color COLOR_TEXT_LIGHT
	overflow hidden
	z-index 20
	width 100%
	position fixed
	top 0

.header__container
	height 100%

.header__flex
	flexbox()
	height 100%

.header__flex__item
	align-self(center)
	flex-grow(1)

.header__flex__item__title
	vertical-align middle
	display inline-block

.header__flex__item__title__name
	margin-top 4px

.header__flex__item__phone a,
.header__flex__item__title__name a
	color COLOR_TEXT_LIGHT

.header__flex__item__phone,
.header__flex__item__title__name
	font-size 1.6em
	white-space nowrap

.header__flex__item__title__name,
.header__flex__item__title__note
	display inline-block
	line-height 90%

.header__flex__item__email,
.header__flex__item__title__note
	color #8A8E90
	font-size 0.9em
	padding-top 7px

.header__flex__item__owl
	display inline-block
	width 215px
	height 215px
	border-radius(215px)
	background-color rgba(255,255,255, 0.5);
	margin-bottom -88px
	background-image url("../img/owl.png")
	background-repeat no-repeat
	background-position center 30px
	background-size 72%

.header__flex__item__title__name__beta
	opacity 0.7
	
.header__flex__item--logo,
.header__flex__item--contacts
	flex-shrink 0

.header__flex__item--logo
	padding-left 80px

	.header__flex__item__link
		display inline-block

	.header__flex__item__link__logo
		margin-left -70px
		padding-right 10px
		width 70px



@media (max-width: 768px)

	.header__flex__item--logo
		padding-left 0

	.header__flex__item__link
		display none !important