.info
	padding: 11px 22px;
	padding: .6875rem 1.375rem;
	margin-bottom: 22px;
	margin-bottom: 1.375rem;
	font-size: 15px;
	font-size: .9375rem;
	line-height: 22px;
	line-height: 1.375rem;
	opacity 1;

.info--success
	background: #52be9b;
	color: #fff;

.info--hide
	opacity 0
	transition: opacity 1s ease-in-out;