.load
	padding 60px 0 100px

.load__title
	margin-bottom 0

.load__note
	margin 0

.load__owl
	background-image url("../img/owl.png")
	background-repeat no-repeat
	display inline-block
	width 300px
	background-position center center
	height 255px
	background-size 180px
	position relative

.load__owl__button
	position absolute
	bottom 16px
	left 50%
	margin-left -150px
	padding 17px 63px
	font-size 18px !important