.m-text_left
	text-align: left

.m-text_right
	text-align: right

.m-text_center
	text-align: center

.m-text_info
	color: COLOR_TEXT_INFO


.m-padding-main
	padding 66px 0











//Global classes
.print-only
	.form__row--frame,
	.form__row--border
		display none