/*!
 * Bootstrap v3.3.1 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal__dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal__dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal__dialog {
    position: relative
    width: auto
	height 100%
}
.modal__inner {
	position: relative;
	background-color: #ffffff;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
	height: 100%;
}
.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
	background: rgb(37,42,50);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.9;
}
.modal__header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

.modal__close
	float: right;
	font-size: 24px;
	font-weight: 800;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	margin-top: -4px;

.modal__close:hover,
.modal__close:focus
	text-decoration: none;
	cursor: pointer;
	opacity: .5;

.modal__close__icon
	margin-right: -3px;

.modal__close__text
	font-size: 1rem;
	vertical-align: middle;
	line-height: 1;
	font-weight: 200;

button.modal__close
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal__body {
  position: relative;
  padding: 15px;
}
.modal__footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal__footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal__footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal__footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px)
	.modal__dialog
		width: 700px;
		height: auto;
		margin: 15% auto;

	.modal__inner
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
		height: auto;
		border: 1px solid #999999;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;

	.modal-sm
		width: 300px;


@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal__footer:before,
.modal__footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal__footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}

.modal__body__row__img
	max-width 100%
	display block
	margin-bottom 22px

.modal--product
	.modal__inner
		 padding: 22px 33px;

	.row > div
		margin-bottom 22px

	.modal__header
		padding 0;
		border-bottom 0

	.modal__body
		padding-left 0
		padding-right 0

		.row
			margin-left -30px !important
			margin-right -30px !important

		.tab-pane
			padding 22px 15px

		.nav
			margin-top 0

	.modal__footer
		padding-bottom 0

		ul
			margin-top 10px
			padding-left 2px

.modal--login,
.modal--register
	.modal__inner
		padding 24px 36px

	.modal__header
		padding 0;
		border-bottom 0

	.modal__body
		padding 0

	@media (min-width: 768px)
		.modal__dialog
			width: 450px;