.absoluteContent
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

.product
	display inline-block
	position relative
	margin 0 auto
	max-width 100%
	margin-bottom 60px

.product__frame,
.product__shadow
	display block
	position relative

.product__split
	display none

	&:before,
	&:after
		content ""
		position: absolute
		top 0
		left 0
		height 75px
		overflow hidden
		width 1px
		background rgba(0, 0, 0, 0.1)

.product__split--top
	&:before
		top: -10px;
		left: 27px;
		-webkit-transform rotateZ(-45deg)
		-ms-transform rotateZ(-45deg)
		transform rotateZ(-45deg)

	&:after
		top -10px
		right 27px
		left auto
		-webkit-transform rotateZ(45deg)
		-ms-transform rotateZ(45deg)
		transform rotateZ(45deg)

.product__split--bottom
	&:before
		top auto
		bottom -10px;
		left 27px;
		-webkit-transform rotateZ(-135deg)
		-ms-transform rotateZ(-135deg)
		transform rotateZ(-135deg)

	&:after
		top auto
		bottom -10px
		right 27px
		left auto
		-webkit-transform rotateZ(135deg)
		-ms-transform rotateZ(135deg)
		transform rotateZ(135deg)

.product__image
	width auto
	height auto
	position relative
	z-index 1
	margin 0 auto
	max-width 100%
	max-height 500px
	-webkit-box-shadow 0 1px 4px 0 #99A3AD,inset 0 0 40px #EEE
	box-shadow 0 1px 4px 0 #99A3AD,inset 0 0 40px #EEE

.product--print-only
	.product__shadow:after
		content: "";
		position: absolute;
		bottom 11px
		right 4px
		left auto
		width 50%
		height 20px
		max-width 300px
		-webkit-box-shadow 0 15px 10px rgba(0, 0, 0, 0.2)
		box-shadow 0 15px 10px rgba(0, 0, 0, 0.2)
		-webkit-transform rotateZ(3deg)
		-ms-transform rotateZ(3deg)
		transform rotateZ(3deg)

.product--canvas
	.product__shadow:after
		@extend .absoluteContent
		background: url(../img/canvas-texture.png) repeat top left
		 -webkit-box-shadow: inset 0 -4px 25px 5px rgba(0, 0, 0, 0.02)
		box-shadow: inset 0 -4px 25px 5px rgba(0, 0, 0, 0.02)

	&:before,
	&:after
		content ""
		position absolute
		height 10px
		left 0
		right 0
		top -10px
		background #1A1C1D
		z-index 1

	&:before
		left 10px
		right 40px
		z-index 5
		-webkit-transform skewX(-64deg)
		-ms-transform skewX(-64deg)
		transform skewX(-64deg)

	&:after
		left 40px
		right 10px
		-webkit-transform skewX(64deg)
		-ms-transform skewX(64deg)
		transform skewX(64deg)

	&.product--WB
		&:before,
		&:after
			background: #EEF3F6;
			-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
			box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.05);
			background-image: -webkit-linear-gradient(top,#E3E6EA 0,#EEF3F6 100%);
			background-image: -webkit-gradient(linear,left top,left bottom,from(#E3E6EA),to(#EEF3F6));
			background-image: linear-gradient(top,#e3e6ea 0,#eef3f6 100%);

	&.product--150
		&:before,
		&:after
			height 5px
			top -5px

		&:before
			left 5px
			right 20px

		&:after
			left 20px
			right 5px


.product--frame
	.product__split
		display block

	.product__frame
		display block
		background #222526
		padding: 20px

		.product__shadow
			position relative

		.product__shadow:after
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

		.product__image
			box-shadow none
			-webkit-box-shadow none

	&.product--WF .product__frame
		background: #F7FCFF;

	&.product--EF .product__frame
		background: url(../img/espresso-wood-texture.jpg) #23150B repeat top left
@css {
.product--canvas .product__frame {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 23px 20px rgba(0, 0, 0, 0.2), -10px 3px 18px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 23px 20px rgba(0, 0, 0, 0.2), -10px 3px 18px 3px rgba(0, 0, 0, 0.1);
}
.product--canvas.product--150 .product__frame {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4),	0 15px 20px rgba(0, 0, 0, 0.2),	-5px 3px 18px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4),	0 15px 20px rgba(0, 0, 0, 0.2),	-5px 3px 18px 3px rgba(0, 0, 0, 0.1);
}
.product--frame .product__frame {
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4),0 23px 20px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4),0 23px 20px rgba(0, 0, 0, 0.2);
}
.product--frame .product__shadow:after {
	box-shadow: inset 0 -3px 3px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 -3px 3px 2px rgba(0, 0, 0, 0.1);
}
}