.social--footer
	display table
	border-top none
	border-bottom none
	padding 0
	margin 0px auto 0 auto
	overflow hidden
	list-style none
	font-size 30px

.social__item
	float left
	margin-right 15px
	margin-bottom 5px

	a
		text-decoration none
		color #B3BBC0;

	a:hover
		color: #D4D8DB

	.icon-vkontakte:before
		font-size: 28px;
		vertical-align: 1px;

.social__item:last-child
	margin-right 0