*
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

body
	min-height:100%;
	background:#fff;
	color COLOR_TEXT
	font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight normal
	overflow-x:hidden;
	line-height:1.46667;
	font-size:15px;

h1,
h2,
h3,
h4,
h5,
h6
	font-weight normal
p
	margin 0 0 22px;
a,
a:hover
	color COLOR_TEXT_LINK

@font-face {
	font-family: 'ruble';
	src: url('../fonts/rouble.otf') format('opentype'),
		 url('../fonts/rouble.ttf') format('truetype');

}
@font-face {
	font-family: 'reis';
	src: url('../fonts/REIS.otf') format('opentype'),
		 url('../fonts/REIS.ttf') format('truetype');
}
@font-face {
	font-family: 'nautilus';
	src: url('../fonts/nautilus.otf') format('opentype');

}