*
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

body
	min-height:100%;
	background:#fff;
	color COLOR_TEXT
	font-family: HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight normal
	overflow-x:hidden;
	line-height:1.46667;
	font-size:15px;

h1,
h2,
h3,
h4,
h5,
h6
	font-weight normal
p
	margin 0 0 22px;

@font-face {
	font-family: 'ruble';
	src: url('../fonts/rouble.otf') format('opentype'),
		 url('../fonts/rouble.ttf') format('truetype');

}
@font-face {
	font-family: 'track';
	src: url('../fonts/track.otf') format('opentype'),
		 url('../fonts/track.ttf') format('truetype');

}
@font-face {
	font-family: 'reis';
	src: url('../fonts/REIS.otf') format('opentype'),
		 url('../fonts/REIS.ttf') format('truetype');

}
@font-face {
	font-family: 'gardensc';
	src: url('../fonts/gardensc.otf') format('opentype');

}