* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  color: COLOR_TEXT;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  line-height: 1.46667em;
  font-size: 15px;
  min-height: 100%;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 10px 0;
  color: COLOR_TEXT_HEADERS;
  line-height: 140%;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #6e7b8e;
}
p {
  margin: 0 0 22px;
}
a,
a:hover {
  color: COLOR_TEXT_LINK;
}
h1 {
  font-weight: 400;
  font-size: 22.5px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 33px;
  margin-bottom: 1.47rem;
  line-height: 36px;
  line-height: 2.4rem;
}
h1.big {
  font-size: 33.5px;
  font-size: 2.2425rem;
  margin-bottom: 31px;
  margin-bottom: 2.0625rem;
  line-height: 36px;
  line-height: 2.4rem;
}
h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 18.75px;
  font-size: 1.25188rem;
  line-height: 33px;
  line-height: 2.2rem;
  margin-bottom: 11px;
  margin-bottom: 0.6875rem;
}
h2.big {
  font-size: 32px;
  font-size: 2.14rem;
  margin-bottom: 18px;
  margin-bottom: 1.25rem;
}
h3 {
  font-size: 22px;
  font-size: 1.47rem;
  margin-bottom: 14px;
  margin-bottom: 0.95rem;
}
@font-face {
  font-family: 'ruble';
  src: url("../fonts/rouble.woff") format('woff'), url("../fonts/rouble.ttf") format('truetype'), url("../fonts/rouble.otf") format('opentype');
}
@font-face {
  font-family: 'nautilus';
  src: url("../fonts/nautilus.woff") format('woff'), url("../fonts/nautilus.ttf") format('truetype'), url("../fonts/nautilus.otf") format('opentype');
}
