COLOR_WHITE =				#ffffff
COLOR_TEXT = 		        #8a95a5
COLOR_TEXT_HEADERS = 		#6e7b8e
COLOR_TEXT_LINK = 		    #30beda
COLOR_TEXT_H1 = 		    #33383f
COLOR_TEXT_WHITE =          #ffffff
COLOR_TEXT_LIGHT =          #dadada
COLOR_TEXT_LIGHT_HOVER =    #e6e6e6
COLOR_TEXT_MIDDLE =         #67707C
COLOR_TEXT_INFO =          	#30BEDA
COLOR_TEXT_GRAY =          	#dadada
COLOR_TEXT_ERROR =          #f66b6a
COLOR_BG_HEADER =           rgba(28,38,47,.9)
COLOR_BG_FOOTER =           COLOR_BG_HEADER
COLOR_BG_BOX =              #F9F9F9

COLOR_BORDER = 				#c7cdd1
COLOR_BORDER_LIGHT = 	    #eee
COLOR_BUTTON_INFO = 		COLOR_TEXT_INFO
COLOR_SELECTED = 			COLOR_TEXT_INFO