COLOR_WHITE =				#ffffff
COLOR_TEXT = 		        #8a95a5
COLOR_TEXT_LIGHT =          #ffffff
COLOR_TEXT_INFO =          	#30BEDA
COLOR_TEXT_GRAY =          	#dadada
COLOR_BG_HEADER =           #339cd0

COLOR_BORDER = 				#c7cdd1
COLOR_BUTTON_INFO = 		COLOR_TEXT_INFO
COLOR_SELECTED = 			COLOR_TEXT_INFO