<h1 class="h1">Профиль</h1>
<form action="/ajax/ajax.php" method="post" class="form ajax" ajax-form>
    <h2 class="h2">Смена пароля</h2>
    <div class="form__row">
        <label class="form__row__label--title" for="password">Новый пароль</label>
        <input name="password" id="password" type="password"/>
        <span class="m-text_error"></span>
    </div>
    <div class="form__row">
        <label class="form__row__label--title" for="password2">Новый пароль ещё раз</label>
        <input name="password2" id="password2" type="password"/>
        <span class="m-text_error"></span>
    </div>
    <div class="form__row">
        <input type="hidden" name="userid" value="{{currentUser.id}}">
        <input type="hidden" name="act" value="changePassword">
        <button class="btn btn-info btn-lg" type="submit">Сохранить</button>
    </div>
    <div class="info info--success info--hide">&nbsp;</div>
</form>