<section class="container m-padding-main" ng-class="mainClass">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-8 m-text_center">
            <div class="product" ng-class="productClass">
                <div class="product__frame">
                    <div class="product__split product__split--top"></div>
                    <div class="product__split product__split--bottom"></div>
                    <div class="product__mate">
                        <div class="product__shadow">
                            <div class="product__image" id="image-container" style="background-image: url('../img/image.jpg');" ng-style="{'height': productImageHeight}">
                                <img class="product__image__img" id="mainPicture" src="../img/image.jpg" alt="Map of The World 7" ng-style="{'height': productImageHeight}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-4 ">
            <form ng-submit="goToShipping()" class="form">
                <div class="form__samples row">
                    <div class="col-xs-4" ng-repeat="product in productStates">
                        <input id="product-{{product.id}}" type="radio" name="product_code" class="radio radio--image" ng-model="formProduct" value="{{product.id}}" ng-click="changeProduct(product)" ng-mouseup="updateImageProportions()">
                        <label for="product-{{product.id}}">
                            <small>{{product.name}}</small>
                            <img src="./img/products/product-{{product.id}}.jpg">
                        </label>
                    </div>
                </div>
                <div class="form__row form__row--size">
                    <label for="imgSizing">Размер <span class="form__row__note m-text_info" ng-show="showProportionsNote">{{showProportionsNoteText}}</span></label>
                    <div class="select">
                        <select id="imgSizing" name="size" required="" ng-model="formFrameSize" ng-options="o.value as o.name for o in sizeOptions" ng-change="changeSize(formFrameSize)"></select>
                    </div>
                </div>
                <div class="form__row form__row--frame">
                    <label for="imgFrame">Рамка</label>
                    <div class="select">
                        <select id="imgFrame" name="frame" required="" ng-model="formFrameType" ng-options="o.value as o.name for o in frameOptions" ng-change="changeFrame(formFrameType)"></select>
                    </div>
                </div>
                <div class="form__row form__row--border">
                    <label for="imgEdge">Края</label>
                    <div class="select">
                        <select id="imgEdge" name="edge" required="" ng-model="formBorderType" ng-options="o.value as o.name for o in borderOptions" ng-change="changeBorder(formBorderType)" ng-disabled="disableEdge"></select>
                    </div>
                </div>
                <div class="form__price">{{formPrice}}<span class="form__price__rouble m-rubble">i</span></div>
                <!--<a style="display: block" class="btn btn-info btn-lg" href="javascript: void(0)" ng-click="sendData()">Купить</a>-->
                <input class="btn btn-info btn-lg" type="submit" style="display: block; width: 100%" value="Оформить доставку">
                <small class="m-text_info">100% гарантия возврата средств</small>
            </form>
        </div>
    </div>
</section>