<section class="container m-main-title">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-5">
            <h1>Доставка</h1>
            <h4>На данный момент мы предлагаем вам следующие варианты доставки и оплаты ваших заказов:</h4>
        </div>
    </div>
</section>
<section class="container m-padding-bottom">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-7">
            <h2>Казань</h2>
            <ul>
                <li>Доставка: нашей курьерской службой</li>
                <li>Оплата: наличными в момент передачи заказа</li>
                <li>Стоимость: 100 <span class="m-rubble">i</span>, для заказов свыше 1000 <span class="m-rubble">i</span> — бесплатно!</li>
                <li>Сроки: для заказов без рамы - до 3х дней, с рамой — до 7 дней (с момента запуска заказа в производство)</li>
            </ul>

            <h2>Города РФ (кроме Казани)</h2>
            <ul>
                <li>Доставка: «Почтой России»</li>
                <li>Оплата: наложенным платежом при получении заказа в отделении почты</li>
                <li>Стоимость: 350 <span class="m-rubble">i</span> + оплата за денежный перевод по тарифам «Почты России»</li>
                <li>Сроки (передачи заказа на почту): для заказов без рамы - до 3х дней, с рамой — до 7 дней (с момента запуска заказа в производство).<br/>
                    Сроки доставки необходимо уточнять на сайте «Почты России»
                    <a target="_blank" href="http://www.russianpost.ru/">russianpost.ru</a></li>
            </ul>

            <p>Мы стараемся идти навстречу нашим клиентам, и поэтому готовы так же рассмотреть ваши варианты!</p>
        </div>
    </div>
</section>