<div class="delivery delivery--bg">
    <section class="container m-main-title">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-5">
                <h1 class="big">Доставка</h1>
                <h4>На данный момент мы предлагаем вам следующие варианты доставки и оплаты ваших заказов:</h4>
            </div>
        </div>
    </section>
    <section class="container m-section-last">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-7">
                <h2>Казань</h2>
                <ul>
                    <li>Доставка: нашей курьерской службой</li>
                    <li>Оплата: наличными в момент передачи заказа</li>
                    <li>Стоимость: <strong>100 <span class="m-rubble">i</span></strong>, для заказов свыше 1000 <span class="m-rubble">i</span> — бесплатно!</li>
                    <li>Сроки: для заказов без рамы — <strong>3 дня</strong>, с рамой — <strong>7 дней</strong></li>
                </ul>

                <h2>Города РФ (кроме Казани)</h2>
                <ul>
                    <li>Доставка: «Почтой России»</li>
                    <li>Оплата: наложенным платежом при получении заказа в отделении почты</li>
                    <li>Стоимость: <strong>350 <span class="m-rubble">i</span></strong> + оплата за денежный перевод по тарифам «Почты России»</li>
                    <li>Сроки (передачи заказа на почту): без рамы — <strong>3 дня</strong>, с рамой — <strong>7 дней</strong>.<br/>
                        Сроки доставки необходимо уточнять на сайте «Почты России»
                        <a target="_blank" href="http://www.russianpost.ru/">russianpost.ru</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>