<section class="container m-padding-main">
    <div class="container">
        <div class="gallery-section">
            <div class="gallery">
                <a href="/gallery/{{pic.seourl}}" class="gallery__wrapper" ng-repeat="pic in pictures" data-caption="<strong class='caption__content__name'>{{pic.name}}</strong><span class='caption__content__author'>{{pic.author}}</span>">

                    <!--<i class='heart'></i>-->
                    <img ng-src="{{pic.preview}}" width="{{pic.width}}" height="{{pic.height}}" alt="{{pic.name}}"/>
                </a>
            </div>
        </div>
    </div>
</section>