<!--<section class="banner banner--item-5">
    <h1 class="banner__title">Время дарить подарки!</h1>
    <a class="btn btn-info btn-lg" ng-click="openLoadFile()">Загрузить своё фото</a>
    <input class="m-hidden" value="Загрузить фото" type="file" id="load-file">
    <p> или <a class="banner__title__small" href="/gallery">посмотреть галерею</a></p>
</section>-->
<section class="banner banner--item-{{bannerNumber}}">
    <h1 class="banner__title">Превращаем фотографии в картины</h1>
    <a class="btn btn-info btn-lg" ng-click="openLoadFile()">Загрузить своё фото</a>
    <input class="m-hidden" value="Загрузить фото" type="file" id="load-file">
    <p> или <a class="banner__title__small" href="/gallery">посмотреть галерею</a></p>
</section>
<section class="container">
    <div class="gallery-section">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="m-text_center big">Галерея готовых работ</h2>
                <div class="m-separator m-separator--after-title"></div>
            </div>
        </div>
        <div class="gallery">
            <a href="/gallery/{{pic.seourl}}" class="gallery__wrapper" ng-repeat="pic in pictures" data-caption="<strong class='caption__content__name'>{{pic.name}}</strong><span class='caption__content__author'>{{pic.author}}</span><span class='caption__content__price'>От 190 <span class='form__price__rouble m-rubble'>i</span></span>">
                <i class='heart'></i>
                <img ng-src="{{pic.preview}}" width="{{pic.width}}" height="{{pic.height}}" alt="{{pic.name}}"/>
            </a>
        </div>
    </div>
    <p class="m-text_center"><a href="/gallery" class="btn btn-lg btn-helper">Посмотреть еще</a></p>
</section>

<section class="container pluses">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="m-text_center big">Гарантируем, что вам понравится</h2>
            <div class="m-separator m-separator--after-title"></div>
        </div>
    </div>
    <div class="row pluses__row">
        <div class="col-md-6 col-xs-12 m-text_center">
            <img src="./img/pluses/item1.png" alt="100% возврат"/>
            <h3 class="pluses__row__title">100% возврат</h3>
                <span>
                    Мы настолько уверены в качестве своих картин, <br/>
                    что можем себе это позволить в случае, <br/>
                    если вам что-то не понравится.
                </span>
        </div>
        <div class="col-md-6 col-xs-12 m-text_center">
            <img src="./img/pluses/item2.png" alt="просто"/>
            <h3 class="pluses__row__title">просто</h3>
                <span>
                    Напечатать картину никогда не было так просто. <br/>
                    Загрузите фото и отправьте нам заявку <br/>
                    и мы все сделаем сами.
                </span>
        </div>
    </div>
    <div class="row pluses__row">
        <div class="col-md-6 col-xs-12 m-text_center">
            <img src="./img/pluses/item3.png" alt="качествено"/>
            <h3 class="pluses__row__title">качественно</h3>
                <span>
                    Качество на первом месте. <br/>
                    Краска, рама, холсты — все только лучшее.
                </span>
        </div>
        <div class="col-md-6 col-xs-12 m-text_center">
            <img src="./img/pluses/item4.png" alt="с любовью"/>
            <h3 class="pluses__row__title">с любовью</h3>
                <span>
                    Нам нравится то, что мы делаем. <br/>
                    И это значит, что мы сделаем это правильно и хорошо.
                </span>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <img style="width: 100%" src="../img/home-section.png" alt="Картины Love Canvas"/>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="m-text_center big">Мы нравимся нашим клиентам</h2>
            <div class="m-separator m-separator--after-title"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 m-text_center">
            <blockquote class="customer-review">
                <p class="customer-review__text">"Отличный подарок для родственников или друзей, спасибо за оперативность и профессионализм. Думаю, это не последняя картина которую я у вас заказал. Спасибо огромное!"</p>
                <footer class="m-text_left">
                    <a href="https://vk.com/andrew.danilov" target="_blank">
                        <img class="customer-review__avatar" src="../img/home/customer-1.png" alt="pic"> — <cite>Андрей Д</cite>.
                    </a>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-xs-12 m-text_center">
            <blockquote class="customer-review">
                <p class="customer-review__text">"Спасибо большое команде Love Canvas за мою чудесную картину!!! Она превзошла все мои ожидания) очень красивая)) понравилось качество работы, приятные люди и удобная доставка."</p>
                <footer class="m-text_left">
                    <a href="https://vk.com/id6276988" target="_blank">
                        <img class="customer-review__avatar" src="../img/home/customer-2.png" alt="pic"> — <cite>Ада К</cite>.
                    </a>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12 m-text_center">
            <blockquote class="customer-review">
                <p class="customer-review__text">"Спасибо большое за работу!!! Качество, текстура холста, доставка — все на высшем уровне! Нам очень понравилась ваша идея и то ,как вы ее воплотили в реальность!!! Теперь это настоящее украшение для нашего дома)"</p>
                <footer class="m-text_left">
                    <a href="https://vk.com/id2552680" target="_blank">
                        <img class="customer-review__avatar" src="../img/home/customer-3.png" alt="pic"> — <cite>Катя С</cite>.
                    </a>
                </footer>
            </blockquote>
        </div>
        <div class="col-md-6 col-xs-12 m-text_center">
            <blockquote class="customer-review">
                <p class="customer-review__text">"Были очень рады с супругой, увидев это чудо! С расстояния в один метр можно уверенно говорить, что она написана рукой :) Привлекает внимание, напоминая о важном событии и удивляет гостей) Спасибо всей команде за сервис и старание!!! "</p>
                <footer class="m-text_left">
                    <a href="https://vk.com/motomixon" target="_blank">
                        <img class="customer-review__avatar" src="../img/home/customer-4.png" alt="pic"> — <cite>Михаил Н</cite>.
                    </a>
                </footer>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 m-text_center">
            <h2 class="big">Оформить заказ – проще простого!</h2>
            <a class="btn btn-info btn-lg" ng-click="openLoadFile()">Загрузить своё фото</a>
        </div>
    </div>

</section>