<section class="banner banner--item-{{bannerNumber}}">
    <a href="javascript:void(0)" class="btn btn-info btn-lg" ng-click="openLoadFile()">Загрузить фото</a>
    <input class="m-hidden" value="Загрузить фото" type="file" id="load-file">
    <p class="banner__title">Создавайте великолепные картины</p>
</section>
<section class="pluses">
    <div class="container">
        <div class="row pluses__row">
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item1.png" alt="100% возврат"/>
                <h2 class="pluses__row__title">100% возврат</h2>
                    <span>
                        Мы настолько уверены в качестве своих картин, <br/>
                        что можем себе это позволить, в случае, <br/>
                        если вам что-то не понравится.
                    </span>
            </div>
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item2.png" alt="просто"/>
                <h2 class="pluses__row__title">просто</h2>
                    <span>
                        Напечатать картину никогда не было так просто. <br/>
                        Загрузите фото и отправьте нам заявку <br/>
                        и мы все сделаем за вас
                    </span>
            </div>
        </div>
        <div class="row pluses__row">
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item3.png" alt="качествено"/>
                <h2 class="pluses__row__title">качествено</h2>
                    <span>
                        Качество на первом месте. <br/>
                        Краска, рама, холсты — все только лучшее.
                    </span>
            </div>
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item4.png" alt="с любовью"/>
                <h2 class="pluses__row__title">с любовью</h2>
                    <span>
                        Нам нравиться то, что мы делаем. <br/>
                        И это значит, что мы сделаем это правильно и хорошо.
                    </span>
            </div>
        </div>
    </div>
</section>
<section class="samples">
    <div class="container">
        <h1 class="m-text_center samples__title">Картины на холсте</h1>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="square-box square-box--small square-box--item-1"></div>
                <div class="square-box square-box--small square-box--item-2"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="square-box square-box--item-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="square-box square-box--xs square-box--item-4"></div>
            </div>
        </div>
    </div>
</section>
<section class="load">
    <div class="container m-text_center">
        <div class="load__owl">
            <a href="javascript:void(0)" class="btn btn-info btn-lg load__owl__button" ng-click="openLoadFile()">Загрузить фото</a>
        </div>
        <h2 class="load__title">Оформить заказ – проще простого!</h2>
        <p class="load__note">Необходимо загрузить фото и ввести контактные данные.</p>
    </div>
</section>