<section class="banner banner--item-5">
    <h1 class="banner__title">Время дарить подарки!</h1>
    <a href="/gallery" class="btn btn-info btn-lg">Посмотреть галерею</a>
    <input class="m-hidden" value="Загрузить фото" type="file" id="load-file">
    <p> или <a class="banner__title__small" href="javascript:void(0)" ng-click="openLoadFile()">загрузить своё фото</a></p>
</section>
<!--<section class="banner banner--item-{{bannerNumber}}">
    <h1 class="banner__title">Превращаем фотографии в картины</h1>
    <a href="/gallery" class="btn btn-info btn-lg">Посмотреть галерею</a>
    <input class="m-hidden" value="Загрузить фото" type="file" id="load-file">
    <p> или <a class="banner__title__small" href="javascript:void(0)" ng-click="openLoadFile()">загрузить своё фото</a></p>
</section>-->
<section class="container">
    <div class="gallery-section">
        <h2 class="gallery-section__title m-text_center">Галерея готовых работ</h2>
        <div class="gallery">
            <a href="/gallery/{{pic.seourl}}" class="gallery__wrapper" ng-repeat="pic in pictures" data-caption="<strong class='caption__content__name'>{{pic.name}}</strong><span class='caption__content__author'>{{pic.author}}</span><span class='caption__content__price'>От 190 <span class='form__price__rouble m-rubble'>i</span></span>">
                <i class='heart'></i>
                <img src="{{pic.preview}}" width="{{pic.width}}" height="{{pic.height}}" alt="{{pic.name}}"/>
            </a>
        </div>
    </div>
    <p class="m-text_center"><a href="/gallery" class="btn btn-lg btn-helper">Посмотреть еще</a></p>
</section>

<section class="pluses">
    <div class="container">
        <div class="row pluses__row">
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item1.png" alt="100% возврат"/>
                <h2 class="pluses__row__title">100% возврат</h2>
                    <span>
                        Мы настолько уверены в качестве своих картин, <br/>
                        что можем себе это позволить в случае, <br/>
                        если вам что-то не понравится.
                    </span>
            </div>
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item2.png" alt="просто"/>
                <h2 class="pluses__row__title">просто</h2>
                    <span>
                        Напечатать картину никогда не было так просто. <br/>
                        Загрузите фото и отправьте нам заявку <br/>
                        и мы все сделаем за вас
                    </span>
            </div>
        </div>
        <div class="row pluses__row">
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item3.png" alt="качествено"/>
                <h2 class="pluses__row__title">качественно</h2>
                    <span>
                        Качество на первом месте. <br/>
                        Краска, рама, холсты — все только лучшее.
                    </span>
            </div>
            <div class="col-md-6 col-xs-12 m-text_center">
                <img src="./img/pluses/item4.png" alt="с любовью"/>
                <h2 class="pluses__row__title">с любовью</h2>
                    <span>
                        Нам нравится то, что мы делаем. <br/>
                        И это значит, что мы сделаем это правильно и хорошо.
                    </span>
            </div>
        </div>
    </div>
</section>
<section class="samples">
    <div class="container">
        <h2 class="m-text_center samples__title">Картины на холсте</h2>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="square-box square-box--small square-box--item-1"></div>
                <div class="square-box square-box--small square-box--item-2"></div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="square-box square-box--item-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="square-box square-box--xs square-box--item-4"></div>
            </div>
        </div>
    </div>
</section>
<section class="load">
    <div class="container m-text_center">
        <div class="load__owl">
            <a href="/gallery" class="btn btn-info btn-lg load__owl__button">Перейти в галерею</a>
        </div>
        <h2 class="load__title">Оформить заказ – проще простого!</h2>
        <p class="load__note">Просто выберете то, что вам нравится и отправьте заказ.</p>
    </div>
</section>