<section class="container m-padding-main" ng-class="mainClass">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-lg-8 m-text_center">
            <div class="product" ng-class="productClass">
                <div class="product__frame">
                    <div class="product__split product__split--top"></div>
                    <div class="product__split product__split--bottom"></div>
                    <div class="product__mate">
                        <div class="product__shadow">
                            <img class="product__image__img" id="mainPicture" src="{{pic.full}}" alt="{{pic.name}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-lg-4 ">
            <div class="product-info">
                <div class="product-info__header">
                    <h1 class="product-info__header__title">{{pic.name}}</h1>
                    <p class="product-info__header__author">Автор: <a href="/{{pic.urlname}}">{{pic.author}}</a></p>
                </div>
                <hr/>
                <form ng-submit="goToShipping()" class="form">
                <div class="form__samples row">
                    <div class="col-xs-4" ng-repeat="product in productStates">
                        <input id="product-{{product.id}}" type="radio" name="product_code" class="radio radio--image" ng-model="formProduct" value="{{product.id}}" ng-click="changeProduct(product)" ng-mouseup="updateImageProportions()">
                        <label for="product-{{product.id}}">
                            <small>{{product.name}}</small>
                            <img src="/img/products/product-{{product.id}}.jpg">
                        </label>
                    </div>
                </div>
                <div class="form__row">
                    <a href="#" class="btn btn-block btn-helper" data-toggle="modal" data-target="#samples">Посмотреть примеры</a>
                </div>
                <div class="form__row form__row--size">
                    <label for="imgSizing">Размер</label>
                    <div class="select">
                        <select id="imgSizing" name="size" required="" ng-model="formFrameSize" ng-options="o.value as o.name for o in sizeOptions" ng-change="changeSize(formFrameSize)"></select>
                    </div>
                </div>
                <div class="form__row form__row--frame">
                    <label for="imgFrame">Рамка</label>
                    <div class="select">
                        <select id="imgFrame" name="frame" required="" ng-model="formFrameType" ng-options="o.value as o.name for o in frameOptions" ng-change="changeFrame(formFrameType)"></select>
                    </div>
                </div>
                <div class="form__row form__row--border">
                    <label for="imgEdge">Края</label>
                    <div class="select">
                        <select id="imgEdge" name="edge" required="" ng-model="formBorderType" ng-options="o.value as o.name for o in borderOptions" ng-change="changeBorder(formBorderType)" ng-disabled="disableEdge"></select>
                    </div>
                </div>
                <div class="form__price">{{formPrice}}<span class="form__price__rouble m-rubble">i</span></div>

                <input class="btn btn-info btn-lg" type="submit" style="display: block; width: 100%" value="Оформить доставку">
                <small class="m-text_info">100% гарантия возврата средств</small><br/>

            </form>
            </div>
        </div>
    </div>
</section>


<div class="modal modal--product" id="samples">
    <div class="modal__dialog">
        <div class="modal__inner">
            <div class="modal__header clearfix">
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal__body">
                <tabset>
                    <tab heading="В раме">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/frame-1.jpg">
                                <p>Мы используем лучшую краску и бумагу, чтобы быть увереными в том, что картина вам понравится.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/frame-2.jpg">
                                <p>Профессиональная рамка черного или белого цвета из чистого дерева. По желанию дополняется матовыми краями.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/frame-3.jpg">
                                <p>Металлические крепления и стальная леска обеспечивают надежную фиксацию и удобную регулировку картины.</p>
                            </div>
                        </div>
                    </tab>
                    <tab heading="На холсте">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/canvas-1.jpg">
                                <p>Мы используем только профессиональные хлопко-полиэстровые холсты, идеально подходящие для передачи как цветных так и черно-белых изображений.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/canvas-2.jpg">
                                <p>Ручная сборка и натяжка на подрамники глубиной 1.5см и 3см по выбору.</p>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <img class="modal__body__row__img" src="/img/products/samples/canvas-3.jpg">
                                <p>Металлические крепления и стальная леска обеспечивают надежную фиксацию и удобную регулировку картины.</p>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Печать">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <img class="modal__body__row__img" src="/img/products/samples/print-1.jpg">
                                <p>Используем матовую бумагу премиум качества плотностью 345 г/см.</p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <img class="modal__body__row__img" src="/img/products/samples/print-2.jpg">
                                <p>Сразу можно повесить на стену или вставить в раму.</p>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal__footer m-text_left">
                <ul>
                    <li>Примерьте на стене в течении 30 дней. Не понравится — вернем деньги.</li>
                </ul>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
