<div class="m-text_center info" ng-class="note.class">{{note.message}}</div>
<section class="container m-padding-default">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            <div class="m-margin-bottom_small">
                <a class="btn btn-lg btn-info" href="upload">Добавить фото</a>
            </div>
            <nav class="admin-nav" ng-repeat="section in adminNav">
                <h2 class="admin-nav__title">{{section.title}}</h2>
                <ul class="admin-nav__list">
                    <li class="admin-nav__list__item" ng-class="{'is-active': list.isActive}" ng-click="changeActiveLink(list)" ng-repeat="list in section.list">
                        <a class="admin-nav__list__item__link" href="{{list.link}}"><i class="icon {{list.icon}}"></i>{{list.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9" ui-view="profile"></div>
    </div>
</section>
